@model KYSports1.Models.ViewModels.ArticlePage
@{
    ViewBag.Title = Model.articles.Title;
    ViewBag.Date = Model.articles.Published;
    ViewBag.Author = Model.articles.Author;
    Layout = "~/Views/Shared/_Article.cshtml";
}
<body>
    @Model.articles.ArticleBody
</body>


