@model KYSports1.Models.ViewModels.ArticlePage
@{
    ViewBag.Title = Model.articles.Title;
    ViewBag.Date = Model.articles.Published;
    ViewBag.Author = Model.articles.Author;
    Layout = "~/Views/Shared/_Article.cshtml";
}
<body>
    <div id="mce">
    @Model.articles.ArticleBody
    </div>
</body>

@section scripts{
<script>
    $(document).ready(function () {
        $('#mce').html($('#mce').text());
    });
</script>
    }


