@{
    ViewBag.Title = "About KYSports1";
    Layout = "~/Views/Shared/_Navbar.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p id="about">KYSports1 is an amateur sports website created and manaaged by a die hard UK fan. 
    Any suggestions or inquirys please contact kysports1website@gmail.com</p>
