
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Navbar.cshtml";
}


<h2>Contact Us</h2>
<p id="about">If you would like to submit your own content, email kysports1fansite@gmail.com</p>

