@model KYSports1.Models.PlayerQueryString
@{
    ViewBag.Title = "NBA";
    Layout = "~/Views/Shared/_NBACats.cshtml";
    @Scripts.Render("~/Scripts/NBACats.js");
    @Styles.Render("~/Content/NBACats.css")
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton|Yanone+Kaffeesatz" rel="stylesheet">
}

<head>

</head>
<body id="bootstrap-overrides">
    @Html.Hidden("qstring",Model.QueryString)
    
    <div class="col-xs-12">
        <div id="test" class="animate-top">
            <div class="col-xs-3">
                <a class="twitter-timeline" data-height="920" data-theme="dark" href="https://twitter.com/KY_Sports1/lists/ukbball?ref_src=twsrc%5Etfw">Tweets from Players/Coaches/Media</a>
            </div>
        </div>
        <h4>Follow former Cats in the Pros - Stats on a per game basis</h4>
        <div class="loader" id="loader"></div>
        <div class="col-xs-9" id="JsonTable">
            <div class="animate-bottom">
                <div id="JsonData" style="visibility:hidden;"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="animate-bottom">
            <div id="JsonData" style="visibility:hidden;"></div>
        </div>
    </div>
</body>


@section Scripts{
<script>
        $(document).ready(function () {
            GetPlayerData();
            $('#loader').hide();
            setTimeout(function () {
                document.getElementById('JsonData').style.visibility = "visible";
            }, 700);
    });  
</script>
    }